* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: #fff5e5;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-align: center;
}

hr {
  border: 5px solid #1652f0;
  border-radius: 5px;
  width: 70%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
